<%= link_to "新規投稿",  new_opinion_path%>


<h1>chatting</h1><br>



<table>
	<thead>
		<tr>
			<th></th>

		</tr>
		<tbody>
			---------------------------------------
			<% @opinions.each do|opinion| %>

			<tr>
				<td><%= attachment_image_tag opinion, :image, :fill, 40, 40, fallback: 'image.jpg',size: '40' %></td>
			</tr>
			<tr>
				<td><%= link_to opinion.user.name, user_path(opinion.user) %></td>
			</tr>
			<tr>
				<td><%= opinion.body %></td>
			<tr>
				<td><%= attachment_image_tag opinion, :image, :fill, 40, 40, fallback: 'company.jpg',size: '40' %></td>
			</tr>
			<tr>
				<td><%=link_to "削除", opinions_path, method: :delete %><br></td>
			</tr>
			<tr>
				<td>
					<%= link_to "コメント", opinion_path(opinion.id) %>
						<%= opinion.opinion_comments.count %><br>
						<% if opinion.favorited_by?(current_user) %>
			<li>
			    <%= link_to opinion_favorites_path(opinion), method: :delete do %>
			    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			    <%= opinion.favorites.count %> いいね
				<% end %>
			</li>
			<% else %>
			<li>
			    <%= link_to opinion_favorites_path(opinion), method: :post do %>
			    <i class="fa fa-heart-o" aria-hidden="true"></i>
			    <%= opinion.favorites.count %> いいね
			    <% end %>
			</li>
			<% end %>
						---------------------------------------
					<% end %>
				</td>
			</tr>
	</tbody>
</table>


