<%= link_to "新規投稿",  new_opinion_path%>


<h1>chatting</h1><br>



<table>
	<thead>
		<tr>
			<th><!-- 内容 --></th>

		</tr>
		<tbody>
			---------------------------------------
			<% @opinions.each do|opinion| %>

			<tr>
				<td><%= attachment_image_tag opinion, :image, :fill, 40, 40, fallback: 'image.jpg',size: '40' %></td>
			</tr>
			<tr>
				<td><%= link_to opinion.user.name, user_path(opinion.user) %></td>
			</tr>
			<tr>
				<td><%= opinion.body %></td>
			<tr>
				<td><%= attachment_image_tag opinion, :image, :fill, 40, 40, fallback: 'company.jpg',size: '40' %></td>
			</tr>
			<tr>
				<td>
					<%= link_to "コメント", opinion_path(opinion.id) %>
						<%= opinion.opinion_comments.count %><br>
						---------------------------------------
					<% end %>
				</td>
			</tr>
	</tbody>
</table>


