<div class="container">
<h1>社員紹介</h1>
<p>自己紹介</p>
<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: 'image.jpg',size: '100' %>
<h4><%= @user.name %></h4><br>
<%= @user.space %>
<%= @user.status %><br><br>
<%= @user.title %>
<% if current_user.id == @user.id %><br>
<h3><%= link_to "プロフィール登録・編集", edit_user_path ,class:"label label-info"%></h3>

<% end %>