
<p>User search</p>
<%= form_tag(user_index_path) do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h1>社員一覧</h1>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>電話番号</th>
			<th>営業所名</th>
			<th>役職</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do|user| %>
			<tr>
				<td><%= attachment_image_tag user, :image, :fill, 40, 40, fallback: 'image.jpg',size: '40' %></td>
				<td><%= link_to user.name, user_path(user.id) %></td>
				<td><%= user.email %></td>
				<td><%= user.number %></td>
				<td><%= user.space %></td>
				<td><%= user.status %></td>
			</tr>
		<% end %>
	</tbody>
</table>

