<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
    <div class="container">
    <nav class="nav navbar-nav navbar-left">

    </nav>
    <nav>
      <% if user_signed_in? %>
      ようこそ！<%= current_user.name %>さん

        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '社員一覧',user_index_path,class:"glyphicon glyphicon-user" %></li>
            <li><%= link_to '投稿一覧',opinions_path,class:"glyphicon glyphicon-book" %></li>
            <li><%= link_to 'Logout',destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out" %></li>
          </ul>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home',root_path,class:"glyphicon glyphicon-home" %></li>
            <li><%= link_to 'login',new_user_session_path,class:"glyphicon glyphicon-login" %></li>
        </ul>
      <% end %>
    </nav>
    </div>
    </header>
    <nav class="">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!--  <a class="navbar-brand" href="#">タイトル</a>
    </div> -->
    
    <!-- <div class="collapse navbar-collapse" id="navbarEexample1">
      <ul class="nav navbar-nav">
        <li><a href="#">メニューＡ</a></li>
        <li class="active"><a href="#">メニューＢ</a></li>
        <li><a href="#">メニューＣ</a></li>
      </ul>
    </div> -->
  <!-- </div> -->
</nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
